<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Detail</title>

  <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>



  <h1>{{ Recipes.Titre }}</h1>
  <h2>
    {{ Recipes.Desciption }}
  </h2>
  <h2>
    {{ Recipes.Author_id }}
  </h2>
  <img src="{{ Recipes.Photo_url }}" />
  

</body>

</html>